# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/flutter_assets/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Runner/Assets.xcassets/

# VS Code
.vscode/

# APKs (unless you want to track them)
*.apk
!app-debug-new.apk
